* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #00263B;
    max-width: 100%;
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
}

.nav-bg {
    position: fixed;
    background-color: #00263B;
    filter: blur(5px);
    z-index: 10;
    top: -2.5vw;
    left: -2.5vw;
    width: calc(100% + 5vw);
    height: 7vw;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 4.5vw;
    position: fixed;
    background-color: transparent;
    z-index: 11;
    top: 0;
    left: 0;
}

.navbar .logo {
    width: 10vw;
    height: 4vw;
    padding: 0 10vw;
    gap: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar .logo a {
    text-decoration: none;
    color: white;
    font-weight: 400;
    gap: 10px;
    font-family: "Poppins", sans-serif;
    font-size: 2vw;
    line-height: 2.2vw;
}

.navbar .menus {
    width: 45vw;
    height: 4vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10vw;
}

.navbar .menus a {
    text-decoration: none;
    color: white;
    padding: 1vw 1.5vw;
    gap: 10px;
    font-family: "Poppins", sans-serif;
    font-size: 1vw;
    line-height: 1.8vw;
}

.navbar .menus a:hover {
    color: #FF5200;
    transform: scale(1.1);
    transition: 0.5s ease-in-out;
}

.navbar .menus a:nth-child(1) {
    font-weight: 700;
}

.navbar .menus a:not(:first-child){
    font-weight: 400;
}

.header {
    width: calc(100% + 118px);
    height: calc(100vh + 70px);
    position: absolute;
    top: -70px;
    left: -118px;
}

.header img {
    width: 100%;
    height: fit-content;
}

.inner-header {
    width: 100%;
    height: 42vw;
    display: flex;
    justify-content: center;
    position: relative;
    z-index: 2;
}

.content1 {
    background-color: rgb(255, 255, 255, 0.36);
    z-index: 3;
    margin-top: 5.8vw;
    height: 41.5vw;
    width: 80%;
}

.title {
    width: fit-content;
    height: fit-content;    
    margin-top: 4.5vw;
    margin-left: 7vw;
    font-family: "Yeseva One", serif;
    font-weight: 400;
    font-size: 5.5vw;
    line-height: 6.5vw;
}

.dragrace {
    font-family: "Yeseva One", serif;
    width: fit-content;
    height: fit-content;
    margin-left: 6vw;
    font-weight: 400;
    font-size: 12vw;
    line-height: 13.5vw;
    transform: translateY(-3vw);
    background: linear-gradient(to bottom, rgb(111,0,0), rgb(255, 203, 203), white);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}

.date {
    font-family: "Yellowtail", cursive;
    font-weight: 400;
    font-size: 4.7vw;
    line-height: 6vw;
    width: fit-content;
    height: fit-content;
    position: relative;
    top: -6vw;
    left: 48vw;
    color: black;
}

.details {
     width: 50vw;
     height: 21vw;
     background-color: rgb(255, 255, 255, 0.46);
     position: relative;
     left: 34vw;
     top: -4vw;
}

.details-text {
    font-family: "Roboto Serif", serif;
    font-size: 1.5vw;
    font-weight: 500;
    text-align: right;
    line-height: 2.5vw;
    color: black;
    width: 30vw;
    padding: 1vw 0 0 6.3vw;
}

.book-btn {
    position: absolute;
    text-decoration: none;
    background-color: #6F0000;
    color: white;
    font-family: "Yeseva One", serif;
    font-size: 2.2vw;
    padding: 0.8vw 2.5vw;
    top: 45.3vw;
    left: 42vw;
    z-index: 5;
}

.book-btn:hover {
    cursor: pointer;
}

.car {
    position: absolute;
    width: calc(100% + 118px);
    height: calc(100% + 70px);
    z-index: 4;
    top: -70px;
    left: -118px;
}

.car img {
    width: 100%;
    height: fit-content;
}

.blur-break {
    width: 100%;
    background-color: #00263B;
    height: 5vh;
    z-index: 8;
    filter: blur(10px);
    margin-top: 8.35vw;
}

.body-content {
    display: flex;
    position: relative;
    background-color: #00263B;
    height: 100vh;
    width: 100%;
    margin-top: -2vw;
    z-index: 8;
}

.event-card-container-bg {
    background: linear-gradient(to bottom, #00263B, rgb(11, 129, 136, 0.28), #00263B);
    width: 100%;
    height: 150vh;
    z-index: 9;
    position: absolute;
    filter: blur(10px);
}

.event-card-container {
    background-color: transparent;
    width: 100%;
    height: fit-content;
    z-index: 10;
    padding: 10vw 15vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow-x: hidden;
}

.event-card-title-container {
    width: 30vw;
    height: 5vw;
}

.event-card-title {
    color: white;
    line-height: 1.2vw;
    font-size: 3vw;
    font-family: "Montserrat", sans-serif;
    font-weight: bold;
}

.event-card-shadow {
    position: absolute;
    color: rgb(0, 94, 100, 0.28);
    font-size: 7.8vw;
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    line-height: 1.2vw;
    top: 9.7vw;
    left: 13vw;
    z-index: -1;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.event-card-carousel{
    display: flex;
    width: 100vw;
    margin-top: 2vw;
    margin-left: -12vw;
}

.carousel-slide {
    display: flex;
    width: 84vw;
    transform: translate(calc(-26.8vw));
    transition: 1s ease-in-out;
}

.carousel-slide > div {
    margin: 0 2vw;
    height: 33vw;
}

.carousel-slide > div img {
    width: auto;
    height: 33vw;
    position: relative;
    z-index: -1;
}

.slide-shadow {
    height: 33vw;
    width: 100%;
    position: absolute;
    left: 0vw;
    z-index: 1;
    box-shadow: 0 -7vw 30px black inset;
}

.carousel-desc {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 0;
    height: 12vw;
    color: white;
    text-align: center;
    font-weight: bolder;
    font-family: "Montserrat", sans-serif;
    position: relative;
    top: -8vw;
    z-index: 1;
}

.prev {
    position: relative;
    left: 6.8vw;
    z-index: 1;
    height: 33vw;
}

.prev img, .next img {
    height: 33vw;
}

.next {
    position: relative;
    right: 11vw;
    height: 33vw;
}

.carousel-desc p:first-of-type {
    font-size: 2.6vw;
}

.smaller p:first-of-type {
    font-size: 1.8vw;
    line-height: 3.2vw;
}

.carousel-desc p:nth-of-type(2) {
    font-size: 1.1vw;
}

.carousel-slide .offscreen {
    opacity: 0;
    transition: 1s ease-in-out;
}

.carousel-slide .offscreen p {
    opacity: 0;
    transition: 1s ease-in-out;
}

.carousel-slide .onscreen {
    opacity: 1;
    transition: 1s ease-in-out;
    filter: blur(10px);
    transform: scale(0.9);
}

.carousel-slide .onscreen p{
    opacity: 0;
    transition: 1s ease-in-out;
}

.carousel-slide .active {
    opacity: 1;
    transition: 1s ease-in-out;
    filter: blur(0px);
    transform: scale(1);
}

.carousel-slide .active p{
    opacity: 1;
    transition: 1s ease-in-out;
}